<div class="container">
	<div class="row">
		<h2>Create Movie</h2>
	</div>
        <div class="row">
                <div class="col-md-6">
                    <div class="form-group form-group-sm">
                        <label class="control-label">Title</label>
                        <input type="text" class="form-control" id="title" placeholder="Title" [(ngModel)]="title">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Poster Path</label>
                        <input type="text" class="form-control" id="poster_path" placeholder="Poster Path" [(ngModel)]="posterPath">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Release Date</label>
                        <input type="date" class="form-control" id="date" [(ngModel)]="releaseDate">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Movie Overview</label>
                        <textarea class="form-control" id="overview" placeholder="Movie Overview" [(ngModel)]="movieOverview"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                       <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="createMovie()">Create</button>
                    </div>
                </div>
        </div>
        
</div>